<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fletnix</title>
    <meta name="description" content="Fletnix Video-on-Demand">
    <meta name="author" content="Jordy & Joel BV">

    <link type="text/css" rel="stylesheet" href="../../../OLD-css/main.css">
    <link type="text/css" rel="stylesheet" href="../../../OLD-css/nav.css">
    <link type="text/css" rel="stylesheet" href="../../../OLD-css/footer.css">
</head>

<body>
<nav>
    <!-- Change the deep-links for each nested page-block -->
    <ul>
        <li class="logo"><h1>Fletnix</h1></li>
        <li><a href="../../../OLDdashboard/index.html"><strong>Dashboard</strong></a></li>
        <li><a href="../account/paywall.php">Abonnementen</a></li>
        <li><a href="../../../OLDdashboard/films.html">Films</a></li>
        <li><a href="../../../OLDdashboard/series.html">Series</a></li>
    </ul>
</nav>

<!-- The vertical nav contains search bar, populair films, latest releases, etc.  -->
<div class="container">
    <div class="nav vertnav">
        <div class="search">
            <form>
                <input type="text" id="search" name="Search" placeholder="Zoeken naar..."/>
                <input type="submit" value="Gaan"/>
            </form>
        </div>
        <ul>
            <li><a href="../members/just-released.php">Net uitgebracht</a></li>
            <li><a href="../../../OLDindex.html">Populair</a></li>
            <li><a href="../members/expected.php">Verwacht</a></li>
            <li><a href="../members/favorites.php">Favorieten</a></li>
            <li><a href="../members/staff-picks.php">Staff Picks</a></li>
        </ul>
    </div>
    <div class="main margin15">
        <!-- Specific HTML pages -->
        <!-- Insert data below this line -->
        <h1>Error 404 - Pagina niet gevonden!</h1><br>

        <!-- Insert data above this line  images/movies/ted/Ted.jpg -->
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer">
            <!-- Items that are commented are a feature when the Fletnix webapp is about to be released. Certain legal items are required before official release. -->
            <div class="footer-service margin15">
                <ul>
                    <li><h2>Klantenservice</h2></li>
                    <li><a href="../company/faq.html">Veelgestelde vragen</a></li>
                    <!--<li><a href=../ervice/payments.html">Betaling</a></li>-->
                    <!--<li><a href=../ompany/legal/privacy.html">Privacy</a></li>-->
                    <!--<li><a href=../ervice/speedtest.html">Speedtest</a></li>-->
                    <!--<li><a href=../ompany/legal/terms.html">Algemene Voorwaarden</a></li>-->
                </ul>
            </div>
            <div class="footer-account margin15">
                <ul>
                    <li><h2>Account</h2></li>
                    <li><a href="../../../OLDdashboard">Dashboard</a></li>
                    <li><a href="../../../OLDdashboard/create-account.html">Account aanmaken</a></li>
                    <!--<li><a href=../ashboard/financial.html">Financieel Dashboard</a></li>-->
                    <!--<li><a href=../ashboard/remove-account.html">Account verwijderen</a></li>-->
                </ul>
            </div>
            <div class="footer-business margin15">
                <ul>
                    <li><h2>Bedrijf</h2></li>
                    <li><a href="../../../company/about.html">Over ons</a></li>
                    <!--<li><a href=../ompany/blog.html">Blog</a></li>-->
                    <li><a href="../../../company/contact.html">Contact</a></li>
                    <!--<li><a href=../ompany/jobs.html">Werken bij Fletnix</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p>© 2016 Fletnix | Alle rechten voorbehouden</p>
    </div>
</footer>
</body>
</html>