/* Temporary body style */
/* Once converted to theme, this could function as back-up if the theme OLD-css fails */
/*body {*/
    /*background: #ecf0f1;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*magin: 0px;*/
    /*padding: 0px;*/
    /*text-align: center;*/
/*}*/

/* CSS Form Styling */
input[type="text"], input[type="email"], input[type="date"] {
    outline: none;
    padding: 10px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #212121;
    margin: 20px auto;
}

input[type="submit"] {
    color: #ecf0f1;
    background: #27ae60;
    padding: 10px;
    width: 320px;
    /*height: 45px;*/
    margin: 20px auto;
    margin-top: 0px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2ecc71;
}

/* Styling icons into text-fields */
input[type="password"] {
    padding: 10px;
    display: block;
    width: 270px;
    border-radius: 3px;
    border: 1px solid #212121;
    margin: 20px auto;
    background-image: url('/storage/images/elements/lock.svg');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[required] {
    border-bottom: 1px solid red;
}

/* Define PHP related styles */
.header {
    border-bottom: 1px solid #95a5a6;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.header a {
    color: #222222;
    text-decoration: none;
    font-size: 2em;
}

.message {
    color: #2c3e50;
    align-items: center;
    text-align: center;
    border: 0px;
}

.message-fail {
    color: #e74c3c;
    align-items: center;
    text-align: center;
    border: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.uppercase {
    text-transform: uppercase;
}