body {
    background: #ecf0f1;
    font-family: 'Raleway', sans-serif;
    magin: 0px;
    padding: 0px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    /*outline: none;*/
    padding: 10px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #212121;
    margin: 20px auto;
}

input[type="submit"] {
    color: #ecf0f1;
    background: #27ae60;
    padding: 10px;
    width: 320px;
    /*height: 45px;*/
    margin: 20px auto;
    margin-top: 0px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2ecc71;
}

.header {
    border-bottom: 1px solid #95a5a6;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.header a {
    color: #222222;
    text-decoration: none;
    font-size: 2em;
}

.message {
    background: #c0392b;
    align-items: center;
    border-bottom: 1px solid #95a5a6;
    padding: 10px 0px;
    width: 20%;
    text-align: center;
}